# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Test output
*.log
*.png
.pytest_cache/
.nose2.cfg

# IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
Desktop.ini
*.lnk
.DS_Store

# Project-specific
swadl.root
